<div class="container mt-5">
  <h1 class="text-center mb-5">Cocktails</h1>
  <div class="cocktails row justify-content-around">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail), class: 'unstyled-link' do %>
      <div class="card mb-5" style="width: 18rem;">
        <img src="<%= cocktail.image_url %>" class="card-img-top" alt="<%= cocktail.name %>">
        <div class="card-body">
          <h5 class="card-title text-center"><%= cocktail.name %></h5>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
