<div class="container mt-5">
  <h1 class="text-center">Add a new cocktail</h1>
  <div class="row">
    <div class="col-sm-10 col-lg-6 offset-sm-1 offset-lg-3">
      <div class="new-cocktail-form mt-4">
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :image_url %>
      <%= f.submit %>
    <% end %>
  </div>
    </div>
  </div>
</div>
