<h5 class="text-center">Add a new ingredient</h5>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit 'Add ingredient' %>
<% end %>
