.cocktail-card {
  border-radius: 10px;
  overflow: hidden;
}

.cocktail-card__image {
  background-color: #e9e9e9;
  height: 220px;
  width: 100%;
  overflow: hidden;
}

.cocktail-card .card-img-top {
  transition: all 0.5s ease;
}

.cocktail-card .card-img-top:hover {
  transform: scale(1.05);
}

.cocktail-card__body {
  position: relative;
}

.cocktail-card__body__btn-delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
