// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cocktails-container,
.new-cocktail-container {
  margin-top: 7rem;
}

.cocktails a {
  color: $gray;
}

.cocktails a:hover {
  text-decoration: none;
}
